@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Wbc.Application.Common.Enums
@using Wbc.Application.Common.Helper
@using Wbc.WebUI.Services
@model Wbc.WebUI.Pages.Error404Model
@inject IStringLocalizer<Error404Model> Localizer
@inject CommonLocalizationService LocalizationService
@inject IAuthorizationService AuthorizationService
@{

    Layout = "_PlainLayout";
}


@{
    ViewData["Title"] = Localizer["PageTitle"];

}

@section PageName
    {
    @Localizer["PageName"]
}


@section ActivePage
    {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
            <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("GeneralGoodsHistoryRes")</li>
        </ol>
    </nav>
}
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@





@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
@*<script src="~/js/profileMenu.js"></script>*@




