@page
@using Microsoft.AspNetCore.Authorization
@using Wbc.Application.Common.Enums
@using Wbc.Application.Common.Helper
@using Wbc.WebUI.Services
@model Wbc.WebUI.Areas.DutyCalculator.Pages.PendingDutyListModel
@inject IStringLocalizer<PendingDutyListModel> Localizer
@inject CommonLocalizationService LocalizationService
@inject IAuthorizationService AuthorizationService
@{
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />

    Layout = "_PlainLayout";
}




@section PageName
{
    @Localizer["PageName"]
}


@*@section ActivePage
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard">@LocalizationService.Get("DashBoardRes")</a></li>
                <li class="breadcrumb-item active" aria-current="page">@LocalizationService.Get("PendingDutyListRes")</li>
            </ol>
        </nav>
    }*@


@Html.AntiForgeryToken()


<div class="table table-responsive">
    <table id="vehicleHistory" class="table table-striped table-condensed" style="width: 100%">
        <thead>
            <tr>
                <th>
                    S/N
                </th>

                <th>
                    Make  @*@Localizer["VehicleMakeColumn"]*@
                </th>
                <th>
                    Model    @*@Localizer["VehicleModelColumn"]*@
                </th>
                <th>
                    Year @*@Localizer["VehicleYearColumn"]*@
                </th>
                <th>
                    Status  @*@Localizer["ChassisColumn"]*@
                </th>
                <th>
                    Transaction Date  @*@Localizer["TransactionDateColumn"]*@
                </th>
                <th>
                    Country  @*@Localizer["HDVColumn"]*@
                </th>
                <th>

                </th>

            </tr>
        </thead>

    </table>
</div>



@section Scripts
{
    <script src="~/lib/DataTables/datatables.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {



            var columns = [
                { "data": "id", "orderable": false },
                { "data": "makeName", "orderable": false },
                { "data": "modelName", "orderable": false },
                { "data": "year", "orderable": false },
                { "data": "status", "orderable": false },
                { "data": "transactonDate", "orderable": false },
                { "data": "countryName", "orderable": false }
            ];




            columns.push({
                "data": "transactionId",
                "orderable": false,
                "sClass": "text-center",
                "render": function (data, type, row) {
                    return '<a  href="/DutyCalculator/PendingDutyStatus/' + data + '"><i class="text-success fas fa-eye"></i> </a>';
                }
            });


            $('#vehicleHistory').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "info": true,
                "stateSave": true,
                "lengthMenu":
                    [
                        [10, 20, 50, -1], [10, 20, 50, "All"]
                    ],
                "ajax": {
                    "url":
                        '/DutyCalculator/PendingDutyList',
                    "type": "POST",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    $("td:first", nRow).html(iDisplayIndex + 1 + this.api().page.info().start);

                    return nRow;
                },
                "columns": columns,
                "order": [[1, "asc"]]
            });
        });

    </script>
}